body* {
  box-sizing: border-box;
}
body, p {
  margin: 0;
}
@font-face {
  font-family: ArialRoundedMTBold;
  src: url('fonts/ArialRoundedMTBold.TTF');
}
@font-face {
  font-family: SFProText;
  src: url('fonts/SFProText.TTF');
}
@font-face {
  font-family: Comfortaa;
  src: url('fonts/Comfortaa.TTF');
}
@font-face {
  font-family: Roboto;
  src: url('fonts/Roboto.ttf');
}

@media all and (max-width: 800px) {
  .main {
    width: 100%;
  }
}
button,
button:active,
button:focus {
  outline: none;
}
button:hover {
  background-color: green;
}
img {
  max-width: 100%;
}


.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #E5E5E5;
  flex-direction: column;
}
.main {
  width: 375px;
  height: 812px;
  background: linear-gradient(180deg, #EB5C18 0%, #FFFFFF 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.main-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 14px;
}

.main-header-time-signal {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.main-logo-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.time {
  display: flex;
  font-family: SFProText;
  font-size: 15px;
  font-weight: bold;
  margin-left: 30px;
}
.signal {
  display: flex;
  margin-right: 10px;
}

.signal-item {
  margin-left: 2px;
}

.main-text {
  font-family: ArialRoundedMTBold;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 56px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}

.footer {
  position: absolute;
  bottom: 8px;
  width: 135px;
  height: 5px;
  background-color: #000000;
  border-radius: 10px;
}

/*-------------------------1,2,3 START------------------------------*/

.main-header-menu {
  width: 100%;
  height: 65px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.main-header-menu-btn {
  border: 0;
  background: none;
}
.main-header-menu-logo-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.main-header-menu-text {
  font-family: ArialRoundedMTBold;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  color: #FFFFFF;
  margin-left: 10px;
}

.main-title {
  font-family: Comfortaa;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  letter-spacing: 0.05em;
  margin-top: 25px;
  margin-bottom: 0;
}

.main-text-in {
  font-family: Comfortaa;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 0;
  letter-spacing: 0.04em;
}
.main-btn {
  height: 50px;
  width: 237px;
  background: #EB5C18;
  border-radius: 25px;
  border: none;
  position: absolute;
  bottom: 30px;
}

.main-btn-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 13px;
  text-transform: uppercase;
  color: #FFFFFF;
  letter-spacing: 0.12em;
}

.main-content {
  width: 375px;
  height: 812px;
  background: linear-gradient(180deg, #EB5C18 0%, #FFFFFF 100%);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  position: relative;
}
/*-------------------------4 LOGIN------------------------------*/

.main-header-menu-login {
  width: 100%;
  height: 65px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.main-header-menu-btn-login {
  border: 0;
  background: none;
  margin-left: 10px;
}
.login-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 30px;
}
.login-btn-item {
  height: 50px;
  width: 343px;
  background: #EB5C18;
  border-radius: 25px;
  border: none;
  margin-top: 22px;
  position: relative;
}
.main-logo-text-login {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 96px;
}
.login-btn-item-pic {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 40px;
}